*.hi
*.o
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prob

.stack-work/
.stack/
stack.yaml.lock

dist
dist-*
cabal-dev
*.cabal.local
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
.ghc.environment.*

*
!*.*
!*/



.DS_Store

